---
title: CSS stylesheet
--- 
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:300,400,500,600,700|Lato|Roboto:300,400,300italic,500italic,500,400italic&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
$c-blue:#2ab2be;
$c-primary: #B23747;
$c-p-h:#992F3D;
//$c-primary: #AB1C35;
$c-secondary: #CCBC77;
$c-3: #A80D2F;
$c-4: #BF1F3B;
$c-5: #D9C97F;

$medium-screen: "screen and (min-width:533px) and (max-width:780px)";
$large-screen: "screen and (min-width:781px)";

/*$b1: #8DB6B8;
$b2: #A8C289;
$b3: #9A9EB8;
$b4: #AB987A;
$b5: #A3D9B3;
*/
$background-c: #f8f8f8;

$cp0: #B23748; // Main Primary color */
$cp1: #F496A3;
$cp2: #D35E6E;
$cp3: #931B2B;
$cp4: #6A0211;
$cs0: #BBAC3A; // Main Secondary color (1) */
$cs1: #FFF49D;
$cs2: #DDD062;
$cs3: #9A8C1C;
$cs4: #6F6302;
$ct0: #324080; // Main Secondary color (2) */
$ct1: #7782B4;
$ct2: #4E5B97;
$ct3: #1E2B69;
$ct4: #3c4e74;
$ct5: #0B164C;

$main-text: #444;
$main-text-h:#5C5C5C;
$circle-c: 1256.6370614359172953850573533118;
$b1: #3B85FF;
$b2: #3BFCFF;
$b3: #8AFF45;
$b4: #47FF8A;
$b5: #FFF754;
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: "Open Sans", arial, "helvetica", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
        cursor: pointer;
}

a:active {
    background-color: inherit;
}

li{
	list-style: none;
}
.site-footer {
	padding-top: 50px;
    background-color: $ct2;
    height: auto;
    color: #fff;
}

.navbar {
    position: relative;
    display: block;
    padding: 0% 3vw 0% 3vw;
    overflow: hidden;
}
hr {
	border:none;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
    margin-top: 45px;
}

.nav {
    list-style: none;
}

.nav > li {
    float: left;
}

.nav.navbar-header {
    font-size: 1em;
}

.nav.navbar-header > li {
    padding: 0px 1vw;
}

.nav.navbar-header > li > a:hover {
    color: $main-text-h;
    border-bottom: 2px solid $main-text-h;

}

#logo-header {
    width: 300px;
    margin: -10px 0px -10px 0px;
    cursor: pointer;
}


.nav-menu > li {
    width: 20%;
    box-sizing: border-box;
    font-size: 0.9em;
}

.nav-menu > li div {
	width: 100%;
	height: 100%;
	padding: 10px 0px 10px 0px;	
    background-color: $c-primary;
    color:white;
}


.nav-menu {
    text-align: center;
    font-size: 0.9em;
}
@media #{$medium-screen}  {
    .navbar-menu {
        width: 100%;
        height: 56px;
        overflow: hidden;
    }
    .nav-menu > li {
        height: 56px;
        display:table;
    }
    .nav-menu > li > a {
        display:table-cell;
        vertical-align: middle;
    }

}

@media #{$large-screen} {
    .navbar-menu {
        width: 100%;
        overflow: hidden;
    }
}


.nav-menu > li div:hover {
    background-color: $c-p-h;
    color: $c-5;
    cursor: pointer;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.page-content {
    //max-width: 1200px;
    margin: 0px auto;

}

.page-header {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 0 auto;
}



#index-header-hr {
    max-width: 800px;
    height: 0.5px; //wtf
    background: radial-gradient(#5C5C5C 30%, transparent 100%);
    margin: 0 auto;
    border: 0;
}


.index-html > .row:nth-child(2) {
    padding: 50px 0px;
}

.index-cards-wrap {
    margin: 0px auto;
    max-width:1000px;
}
.index-cards:nth-child(even){
	text-align:right;
	padding-right: 10px;
	border-right: 5px solid $cp0;
	}
.index-cards:nth-child(odd){
	text-align:left;
	padding-left:10px;
	border-left: 5px solid $cp0;
}

.index-cards {
	padding: 5px 0px;
    overflow: hidden;
    color: $ct4;
    font-family: "Roboto"; 
}

.index-cards > div {
    width: 100%;
}

.index-cards > .header {
	color: $ct4;
    background-color:inherit; 
    padding-bottom: 5px;
    font-weight:600;
    
}

.index-cards > .content {
	margin-top:10px;
    background-color: inherit;
    font-weight: 300;

}


.index-html > .row:first-child {
    padding-top: 100px;
    padding-bottom: 100px;
}


.index-html>.row>.page-header {
    color: #444;
}

.page-header.small {
    padding-top: 5px;
    font-size: 1em;
    color:inherit;
}

.index-html {
     background:linear-gradient(0deg, rgba(248, 248, 248, 0.6) 45%,rgba(248, 248, 248, 0.7) 55%,rgba(248, 248, 248, 0.85));

}
#index-background{
	background:url({{ site.baseurl }}/img/pattern3.svg) no-repeat;
	background-position: 20% 50%;
}
#index-hr {
	height:1px;
	width:inherit;
	background:url({{ site.baseurl }}/img/pattern3.svg) no-repeat;
	background-position: 20% 50%;
	position:relative;
	top:320px;
}
.page-banner{
	padding:100px 0px;
	background:linear-gradient(rgba(78, 91, 151, 0.4),rgba(78, 91, 151, 0.4)),url({{ site.baseurl }}/img/sil1opate.png)center no-repeat;
	color:#f8f8f8;
	background-size: auto 100%;
}

#kys-hr {
    max-width: 800px;
    height: 0.5px; //wtf
    background: radial-gradient(#f8f8f8 30%, transparent 100%);
    margin: 0 auto;
    border: 0;
}

.kys-html > section > .row{
	max-width: 1200px;
	margin: 0 auto;
	padding:40px 20px 0px 20px;
}
.text-color {
	color: $main-text !important;
}

.paragraph-header{
	font-family: "Roboto"; 
	font-size: 24px;
	color:$cp0;
	padding: 20px 0px 20px 0px;
	position:relative;
}
.paragraph-header:after{
	content: '';
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, $cp2 50%, rgba(248, 248, 248,0.5));
	display: block;
	top:10px;
	position:relative;
}

.kys-html .inline ul a ,.link{
	color:#106C97;

}
.kys-html .inline ul li {
	border-bottom:1px solid #e6e6e6;
	padding:8px 0px 4px 1.2em;
    text-indent: -0.6em;
}
.kys-html .inline ul a:hover, .link:hover {
	transition: color 0.1s linear;
	color:$cp0;
}
.link{
	padding-top:10px;
}

.text-box p{
	font-size:1.1em;
	font-weight:300;
	line-height:1.5em;
	padding: 16px 0px;
	text-align:justify;
}
.text-box .text-list{
	font-size:1em;
	font-weight:400;
	text-align:justify;	
	line-height:1.5em;
}

.text-box{
	max-width: 950px;
	width: 73%;
	position:relative;
}

.bold{
	font-weight: 400;
}
.fa{
	color:$main-text;
}
a:hover > i{
	cursor:pointer;
	color: inherit;
}

.inline{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	width: 49%;
	white-space:normal;
	min-width:500px;	
}
.inline:nth-child(1) {
	padding-left:16px;
	padding-right:2%;
	border-right:1px solid #e6e6e6;
}
.inline:nth-child(2) {
	padding-left:2%;
}
.fixed-nav{	
	z-index: 10;
	text-align: left;
	//min-width:220px;
	opacity:0.8;
}
.fixed-nav-absolute{
	position:absolute;
	width:200px !important;
}
.fixed-nav-fixed{
	position:fixed;
	top: 30% !important;

}
.fixed-nav > ul > li {
	font-size: 0.813em;
	padding: 4px 20px;
	border-left: 1px solid transparent;
}
.fixed-nav > ul > li.active-nav {
	font-weight: 700;
	padding-left: 19px;
}

.fixed-nav > ul > ul.active-nav{
	display:block;
	padding-bottom: 10px;
}
.fixed-nav > ul > ul{
	display: none;
}
.fixed-nav  li a{
	display: block;
}
.fixed-nav ul ul li{
	border-left: 1px solid transparent;
	position:relative;
	font-size: 0.75em;
	opacity:0.5;
	padding:1px 25px 1px 29px;
}
.fixed-nav ul ul li.active-tab{
	padding-left: 28px;
}
.fixed-nav ul ul li:hover, .fixed-nav ul li:hover, .fixed-nav li.active-nav{
	opacity: 1;
	color: $ct0;
}


.fixed-nav ul ul li:hover > a,.fixed-nav ul ul li.active-nav a {
	transform-origin: 30% 50%;
	transform: scale(1.1,1.1);
}
.fixed-nav li.active-nav{
	border-left:2px solid $ct0 !important;
	color: $ct0;
}

section:nth-child(even){
	background-color: #f8f8f8;
}
section:nth-child(odd){
	background-color: #fff;
}

section:nth-child(odd) > .row{
	padding-top: 0px !important;
}
section:last-of-type{
	padding-bottom: 50px;
}

.secondary-banner > .page-header{
	position: relative;
	text-align:left;
	padding: 50px;
	font-size:40px;
	z-index: 1;
	color: #fff;
	color: $main-text;

}
.secondary-banner{
	position:relative;
}
.secondary-banner:before{
	content: ' ';
	width:100vw;
	height:100%;
	position:absolute;
	right:27%;
	top:0;
	z-index: 0;
	background:linear-gradient(90deg, rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3) 30%,rgba(255, 255, 255, 1)),url({{ site.baseurl }}/img/pattern3.svg) no-repeat;
}

.text-list.decimal{
	 padding-left: 2em;
}
.text-list.decimal li {
	 list-style-type:decimal;		 
}
.text-list li{
	padding: 1px 2px;
}
.text-list.simple{
	font-weight: 300;
	line-height: 2em;
}

.small{
	color: $main-text-h;
	font-size:0.6em;
}