---
title: CSS stylesheet
--- 
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:300,400,500,600,700|Lato|Roboto:300,400,300italic,500italic,500,400italic&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
$c-blue:#2ab2be;
$c-primary: #B23747;
$c-p-h:#992F3D;
//$c-primary: #AB1C35;
$c-secondary: #CCBC77;
$c-3: #A80D2F;
$c-4: #BF1F3B;
$c-5: #D9C97F;


$medium-screen: "screen and (min-width:533px) and (max-width:1111px)";
$large-screen: "screen and (min-width:1111px)";

/*$b1: #8DB6B8;
$b2: #A8C289;
$b3: #9A9EB8;
$b4: #AB987A;
$b5: #A3D9B3;
*/
$background-c: #f8f8f8;

$cp0: #B23748; // Main Primary color */
$cp1: #F496A3;
$cp2: #D35E6E;
$cp3: #931B2B;
$cp4: #6A0211;
$cs0: #BBAC3A; // Main Secondary color (1) */
$cs1: #FFF49D;
$cs2: #DDD062;
$cs3: #9A8C1C;
$cs4: #6F6302;
$ct0: #324080; // Main Secondary color (2) */
$ct1: #7782B4;
$ct2: #4E5B97;
$ct3: #1E2B69;
$ct4: #3c4e74;
$ct5: #0B164C;

$cpl: #F74D4D;

$main-text-op: #FFF;
$main-text: #444;
$main-text-h:#5C5C5C;
$circle-c: 1256.6370614359172953850573533118;
$b1: #3B85FF;
$b2: #3BFCFF;
$b3: #8AFF45;
$b4: #47FF8A;
$b5: #FFF754;



$index-carousel-duration: 10s;


$carousel-list: 'index (1).jpg','index (2).jpg','index (3).jpg',
'index (4).jpg','index (5).jpg',
'index (6).jpg','index (7).jpg','index (8).jpg' ;

$keyframe-step: (100% / length($carousel-list));
$keyframe-step-two: ((100% / length($carousel-list)) * 2);



* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: "Open Sans", arial, "helvetica", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
        cursor: pointer;
}

a:active {
    background-color: inherit;
}

li{
	list-style: none;
}
.site-footer {
	padding-top: 50px;
    background-color: #f8f8f8;
    height: auto;
    color: $main-text;
}

.navbar {
    position: relative;
    display: block;
    padding: 0% 3vw 0% 3vw;
    overflow: hidden;
}
hr {
	border:none;
}

.navbar-left {
    float: left;
}
.navbar-left > div {

    height: 100px;
    display: inline-block;
    vertical-align:middle;
    margin-right: 20px;
}
.navbar-left * {
	cursor: pointer !important;
}


.navbar-right {
    float: right;
    margin-top: 45px;
}
#kai-skauda-header{
	font-size: 50px;
	display:inline-block;
	font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top:15px;
}
#kai-skauda-header div{
	vertical-align:middle;
	display:inline-block;
	margin-right:10px;
	color:$main-text;
}

#logo-header {
	margin: 10px 0px 0px 0px;
}
.white-plus-large{
	display:inline-block;
	width: 50px;
	height: 50px;
	position:relative;
}
.white-plus-large:after{
	content:'';
	position:absolute;
	background-color:rgba(251,155,122,0.81);
	width: 100%;
	height: 34%;
	margin-top:34%;
}
.white-plus-large:before{
	content:'';
	position:absolute;
	background-color:rgba(251,155,122,0.51);
	width: 34%;
	height: 100%;
	margin-left:34%;
}



.nav {
    list-style: none;
}

.nav > li {
    float: left;
}

.nav.navbar-header {
    font-size: 1em;
}

.nav.navbar-header > li {
    padding: 0px 1vw;
}

.nav.navbar-header > li > a:hover {
    color: $main-text-h;
    border-bottom: 2px solid $main-text-h;

}

.navbar-menu{
	overflow: hidden;
	background-color: $c-primary;
	text-align: center;

}
.nav-menu{
	width:auto;
	margin: 0 auto;
}
.nav-menu > li {
    width: calc(100%/7);
    box-sizing: border-box;
    font-size: 0.9em;
}

.nav-menu > li div {
	width: 100%;
	height: 100%;
	padding: 10px 0px;	
    background-color: lighten( $cp0 , 4%);
    color:white;
}

.nav-menu {
    text-align: center;
    font-size: 0.9em;
}
@media #{$medium-screen}  {
    .nav-menu > li {
        display:table;
         height: 56px;
    }
     .nav-menu > li > a {
        display:table;
        width:100%;
        height: 56px;
    }
    .nav-menu > li div {
        display:table-cell;
        vertical-align: middle;
        height: 56px;
    }
}


.nav-menu > li div:hover {
    background-color: lighten( $cp0 , 1%);
    color: $c-5;
    cursor: pointer;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.page-content {
    margin: 0px auto;
    min-height: calc(100vh - 138px);
}

.page-header {
    font-size: 3.125em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 0 auto;
}



#index-header-hr {
    max-width: 800px;
    height: 0.5px; //wtf
    background: radial-gradient(transparent 30%, transparent 100%);
    margin: 0 auto;
    border: 0;
}

.row{
	max-width:1200px;
	margin:0px auto;
	position:relative;

}
.index-html > .row:nth-child(2) {
    padding: 50px 0px;
}

.index-cards-color-wrap {
	padding: 30px 0px 30px 60px;
	min-width:650px;
	width: 100%;
	margin:0 auto;
}
.index-cards-wrap{
	width:500px;
	margin:0 auto;
}


.index-cards {
	padding: 15px 0px 15px 0px;
    overflow: hidden;
    color: $main-text-op;
    font-family: "Roboto"; 
    position:relative;
    overflow: visible;
    font-size:1.2em;
}

.index-cards:before {
	content:'';
	height: calc(100% - 30px);
	width: 30px;
	background: url({{site.baseurl}}/img/white-plus.png) center no-repeat;
	background-size: 30px 30px;
	display: block;
	position:absolute;
	left: -40px;
	
}

.index-cards > div {
    width: 100%;
}

.index-cards > .header {
	color: $main-text-op;
    background-color:inherit; 
    font-weight:600;
}

.index-cards > .content {
	margin-top:5px;
    background-color: inherit;
    font-weight: 300;

}


.index-html > .row:first-child {
	padding:8% 0;
}


.index-html>.row>.page-header {
}

.page-header.small {
    padding-top: 5px;
    font-size: 1em;
    color:inherit;
}
.brown{
	background-color:#FB9B7A;
}
.brown-canvas{
	position:relative;
	background-color: #f8f8f8;
/*	background-color:  #E18B6E !important;
	background: -webkit-radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%), -webkit-radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%);
    background: -moz-radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%), -moz-radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%);
    background: radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%), radial-gradient(rgba(255,255,255,0.4) 13%, rgba(0,0,0,0) 14%); 
    background-repeat: repeat; 
    background-position: 0 0, 30px 30px;
    -webkit-background-size:60px 60px; 
    background-size:60px 60px;
    */
}

/*.brown-canvas:before{
	content: '';
	position:absolute;
	height: 100%;
	width:1.5%;
	background: #FFF;
	left: 0;
	top:0;
}

.brown-canvas:after{
	content: '';
	position:absolute;
	height: 100%;
	width:1.5%;
	background: #FFF;
	right: 0;
	top:0;

}
*/

.no-padding{
	padding:0px !important;
}
.page-banner{
	padding:100px 0px;
}


.index-carousel{
	position: absolute;
	min-height: 100%;
  	height:100%;  
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
}



.index-carousel > div {
    position: absolute;
    animation: round length($carousel-list) * $index-carousel-duration infinite;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.index-carousel > div:after{
		content:'';
    	position:absolute;
    	width: 100%;
    	height:100%;
    	background-size:cover;
        background-repeat: no-repeat;
   		background-position:center;
   		//-webkit-filter: blur(1px);
}

.index-carousel > div:before{
	    content:'';
    	position:absolute;
    	width:100%;
    	height:100%;
    	background-size:cover;
        background-repeat: no-repeat;
   		background-position:center;
    	transform:scale(2);
    	//-webkit-filter: blur(30px) grayscale(0.1);
}

@for $i from 1 through length($carousel-list) {
    $n: "{{ site.baseurl }}img/" + nth($carousel-list, $i);
    .index-carousel >div:nth-child(#{$i}) {
        animation-delay: $index-carousel-duration * ($i - 1);
    };

    .index-carousel >div:nth-child(#{$i}):before, .index-carousel >div:nth-child(#{$i}):after{
    	    	background-image:url($n);
    	    	
    };
}

.index-html{
	overflow: hidden;
	/*background-color: rgba(225, 139, 110, 0.36) !important;*/
}


.index-html .ph-wrap {
    position: relative;
    background-image: inherit;
    color: #FFF;
    font-size:18px;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    font-weight: 600 !important; 

    //animation: roundColors $index-carousel-duration * 2 infinite;
    //animation-delay: $index-carousel-duration / 2;
}



@keyframes roundColors{
  #{$keyframe-step}{color:#FFF;}
  #{$keyframe-step-two}{color:#444;}
}

@keyframes round{   
   #{$keyframe-step}{opacity:1;}
   #{$keyframe-step-two}{opacity:0;}
} 

#index-background .row{
	width: 55%;
	min-width: 650px;
}



@media #{$large-screen} {


	/*.index-carousel{
	margin: 0 auto;
    width: 100vw;
	}*/

	.index-carousel > div:after{
	margin: 0 auto;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
	}
}


@media screen and (min-width:1200px){
	.index-carousel > div:after{
		background-size: cover;
	}


.index-html > .row:first-child {
	padding:8% 0;
}


}


#kys-html > .page-banner{
	background:linear-gradient(rgba(78, 91, 151, 0.4),rgba(78, 91, 151, 0.4)),url({{ site.baseurl }}/img/sil1opate.png)center no-repeat;
	color:#f8f8f8;
	background-size: auto 100%;
}

#kys-hr {
    max-width: 800px;
    height: 0.5px; //wtf
    background: radial-gradient(#f8f8f8 30%, transparent 100%);
    margin: 0 auto;
    border: 0;
}
#mas-hr{
	max-width: 800px;
    height: 0.5px; //wtf
    background: radial-gradient(rgba(0,0,0,.5) 30%, transparent 100%);
    margin: 0 auto;
    border: 0;
}

#kys-html > section > .row, #sg-html > section > .row{
	padding:40px 20px 0px 20px;
}
.text-color {
	color: $main-text !important;
}

.paragraph-header{
	font-family: "Roboto"; 
	font-size: 24px;
	color:$cp0;
	padding: 20px 0px 20px 0px;
	position:relative;
}
.paragraph-header:after{
	content: '';
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, $cp2 50%, rgba(248, 248, 248,0.5));
	display: block;
	top:10px;
	position:relative;
}

.page-intro ul a ,.link{
	color:#106C97;

}
.page-intro ul li {
	border-bottom:1px solid #e6e6e6;
	padding:8px 0px 4px 1.2em;
    text-indent: -0.6em;
}
.page-intro ul a:hover,.link > a:hover {
	transition: color 0.1s linear;
	color:$cp0;
}

.page-intro  ul ul{
	padding: 0px 0 0px 2em;
}

.link{
	padding-top:10px;
}

.text-box p{
	font-size:1.1em;
	font-weight:300;
	line-height:1.5em;
	padding: 16px 0px;
	text-align:justify;
}
.text-box .text-list{
	font-size:1em;
	font-weight:400;
	text-align:justify;	
	line-height:1.5em;
}

.text-box{
	max-width: 950px;
	width: 73%;
	position:relative;
}

.text-box.inline > p{
	padding: 0 0 16px 0;
}

.bold{
	font-weight: 400;
}
.fa{
	color:$main-text;
}
a:hover > i{
	cursor:pointer;
	color: inherit;
}

.inline{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	width: 49%;
	white-space:normal;
	min-width:500px;	
}
.inline:nth-child(1) {
	//padding-left:16px;
	padding-right:2%;
	border-right:1px solid #e6e6e6;
}
.inline:nth-child(2) {
	padding-left:2%;
}
.fixed-nav{	
	z-index: 10;
	text-align: left;
	//min-width:220px;
	opacity:0.8;
}
.fixed-nav-absolute{
	position:absolute;
	width:200px !important;
}
.fixed-nav-fixed{
	position:fixed;
	top: 30% !important;

}
.fixed-nav > ul > li {
	font-size: 0.813em;
	padding: 4px 20px;
	border-left: 1px solid transparent;
}
.fixed-nav > ul > li.active-nav {
	font-weight: 700;
	padding-left: 19px;
}

.fixed-nav > ul > ul.active-nav{
	display:block;
	padding-bottom: 10px;
}
.fixed-nav > ul > ul{
	display: none;
}
.fixed-nav  li a{
	display: block;
}
.fixed-nav ul ul li{
	border-left: 1px solid transparent;
	position:relative;
	font-size: 0.75em;
	opacity:0.5;
	padding:1px 25px 1px 29px;
}
.fixed-nav ul ul li.active-tab{
	padding-left: 28px;
}
.fixed-nav ul ul li:hover, .fixed-nav ul li:hover, .fixed-nav li.active-nav{
	opacity: 1;
	color: $ct0;
}


.fixed-nav ul ul li:hover > a,.fixed-nav ul ul li.active-nav a {
	transform-origin: 30% 50%;
	transform: scale(1.1,1.1);
}
.fixed-nav li.active-nav{
	border-left:2px solid $ct0 !important;
	color: $ct0;
}

section:nth-child(even){
	background-color: #f8f8f8;
}
section:nth-child(odd){
	background-color: #fff;
}

section:nth-child(odd) > .row{
	padding-top: 0px !important;
}
section:last-of-type{
	padding-bottom: 50px;
}

.secondary-banner > .page-header{
	display:inline-block;
	position: relative;
	text-align:left;
	padding: 20px 0px 20px 60px;
	font-size:2.5em;
	z-index: 1;
	color: #fff;
	//color: $main-text;
}
.page-header > div{
		display:inline-block;
		position: relative;

}
.page-header div div:first-child{
	transform: translateY(-0.5em);
		position:relative;
}
.page-header div div:last-child{
	position:absolute;
	transform: translateY(-50%);
}



.secondary-banner{
	position:relative;
}
.secondary-banner:before {
    content: '';
    height: 45px;
    width: 45px;
    background: url(/kaiskauda//img/white-plus.png) center no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}

.secondary-banner:after{
	content: ' ';
	width:100vw;
	height:100%;
	position:absolute;
	right:27%;
	top:0;
	z-index: 0;
	background:linear-gradient(90deg, rgba(251, 155, 122, 1) 50%,rgba(251, 155, 122, 0.8) 95%,transparent);
}

.text-list.decimal, .text-list.circle{
	 padding-left: 2em;
}
.text-list.decimal li {
	 list-style-type:decimal;		 
}
.text-list.circle li{
	list-style: disc;
}

.text-list li{
	padding: 1px 2px;
}
.text-list.simple{
	font-weight: 300;
	line-height: 2em;
}



.text-box span {
	color:$cp0;
	font-weight: bold;
}

.paragraph-header > .small{
	color: $main-text-h;
	font-size:0.6em;
	font-weight: normal;
}

section > .row:last-child {
	margin-bottom: 50px !important;
}
