//old index drawing
#main-graphic {
    position: relative;
    border-radius: 100%;
    width: 330px;
    height: 330px;
    /*border:5px solid*/
    ;
    margin: 80px auto 20px auto;
    z-index: 1;
}


/*
#main-graphic:before {
	border:5px solid;
	border-right-color: $b3;
    border-top-color: $b5;
    border-bottom-color: $b1;
    border-left-color: $b4;
    content: '';
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	right: 0px;
 	bottom: 0px;
 	z-index: 1;
	border-radius:100%;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);

}
*/

.main-graphic-box {
    position: absolute;
    display: block;
    z-index: 2;
    padding: 25px 0px;
    border-radius: 20px;
    font-size: 1em;
    width: 200px;
    height: 45px;
    text-align: center;
}

#top-box {
    left: 65px;
    background-color: $b3;
    top: -30px;
    line-height: 45px;
}

#left-middle-box {
    left: -133px;
    top: 90px;
    background-color: $b5;
    line-height: 22.5px;
}

#right-middle-box {
    background-color: $b1;
    top: 90px;
    left: 265px;
    line-height: 45px;
}

#left-bottom-box {
    background-color: $b4;
    top: 240px;
    left: -95px;
    line-height: 22.5px;
}

#right-bottom-box {
    background-color: $b2;
    top: 240px;
    left: 225px;
    line-height: 22.5px;
}

#graphic-border {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    box-sizing: border-box;
}

#graphic-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 5px solid transparent;
    border-radius: 100%;
    border-top-color: $b1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    box-sizing: border-box;
}

#graphic-border:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 5px solid transparent;
    border-radius: 100%;
    border-top-color: $b2;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    box-sizing: border-box;
}

#graphic-border-2 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    z-index: 1;
    border-top-color: $b4;
    -webkit-transform: rotate(227deg);
    transform: rotate(227deg);
    box-sizing: border-box;
}

#graphic-border-2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    border: 5px solid transparent;
    border-radius: 100%;
    border-top-color: $b5;
    -webkit-transform: rotate(20deg);
    transform: rotate(60deg);
    box-sizing: border-box;
}

#graphic-border-2:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    border: 5px solid transparent;
    border-radius: 100%;
    border-top-color: $b3;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    box-sizing: border-box;
}

#index-list {
    margin-top: 0px;
}

#index-list > p {
    margin: 20px;
}

//old index drawing end
//new spinning drawing 
#circle-top {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    //background-color: inherit;
}


circle:nth-child(1) {
    stroke: #CCE8C1;
}

circle:nth-child(2) {
    stroke-dasharray: $circle-c/2.6666666666666666666666666666667 $circle-c/8;
    stroke: #8ED4AD;
}

circle:nth-child(3) {
    stroke-dasharray: $circle-c/4 $circle-c/4;
    stroke: #4EA2BD;
}

circle:nth-child(4) {
    stroke-dasharray: $circle-c/8 $circle-c/2.6666666666666666666666666666667;
    stroke: #3F667A;
}

circle {
    stroke-width: 150;
}

text > textPath {
    text-anchor: middle;
    color: white;
}

.svg-wrap {
    overflow: hidden;
    height: 300px;
}

svg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: spin;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: -352px;
}

@keyframes spin {
    0%,
    12% {
        transform: rotate(0deg);
    }
    13%,
    25% {
        transform: rotate(45deg);
    }
    26%,
    38% {
        transform: rotate(90deg);
    }
    39%,
    51% {
        transform: rotate(135deg);
    }
    52%,
    64% {
        transform: rotate(180deg);
    }
    65%,
    77% {
        transform: rotate(225deg);
    }
    78%,
    90% {
        transform: rotate(270deg);
    }
    91%,
    99% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//new drawing end