<div id="fixed-nav" class="fixed-nav fixed-nav-absolute">
    <ul id="n-l">

        <li class='fixed-nav-master nav-1'><a href="#gyd-paslaugas">Trumpai apie skausmo gydymo paslaugas</a></li>
        <ul id="nav-1">
            <li id="gyd-paslaugas-nav">
                <a href="#gyd-paslaugas"></a>
            </li>
        </ul>
        <li><a href="#med-skyrimas">Trumpai apie skausmą malšinančių medikamentų skyrimą</a></li>
        <ul id="nav-2">
            <li id="med-skyrimas-nav">
                <a href="#med-skyrimas"></a>
            </li>
        </ul>
        <li><a href="#visa-info">Visa informacija parengta pagal</a></li>
        <ul id="nav-3">
            <li id="visa-info-nav">
                <a href="#visa-info"></a>
            </li>
        </ul>
    </ul>
</div>
