<footer>
	<div class="uppder-footer">
		<div><div class="page-header">Mūsų<br>remėjai</div></div>
		<div>
		<div><a href=""><img src="{{ site.baseurl }}img/pola logo.jpg"></a></div>
		
		<div><a href=""><img src="{{ site.baseurl }}img/opkc logo.jpg"></a></div>
		<div><a href=""><img src="{{ site.baseurl }}img/ohlb logo.jpg"></a></div>
		<div><a href=""><img src="{{ site.baseurl }}img/ska logo.png"></a></div>
		</div>
	</div>
	<div class="lower-footer">
		© Vilnius International Rotract Club. Visos teisės saugomos.
	</div>
</footer>
