<footer>
    <div class="uppder-footer">
        <div>
            <div class="page-header">Partneriai</div>
        </div>
        <div>
            <div>
                <a href=""><img src="{{ site.baseurl }}/img/pola logo.jpg"></a>
            </div>

            <div>
                <a href=""><img src="{{ site.baseurl }}/img/opkc logo.jpg"></a>
            </div>
            <div>
                <a href=""><img src="{{ site.baseurl }}/img/ohlb logo.jpg"></a>
            </div>
            <div>
                <a href=""><img src="{{ site.baseurl }}/img/ska logo.png"></a>
            </div>
            <div>
                <a href=""><img src="{{ site.baseurl }}/img/slk2 logo.jpg"></a>
            </div>
                        <div>
                <a href=""><img src="{{ site.baseurl }}/img/nvi logo.jpg"></a>
            </div>
            <div>
                <a href=""><img src="{{ site.baseurl }}/img/lard logo.jpg"></a>
            </div>
            <div>
                <a href=""><img class="large-logo" src="{{ site.baseurl }}/img/igsvl logo.jpg"></a>
            </div>

        </div>
    </div>
    <div class="lower-footer">
        ©2015 Vilnius International Rotract Club. Visos teisės saugomos.
    </div>
</footer>
