<header id="header">
    <nav class="navbar-menu">
        <ul class="nav nav-logos">
            <li>
                <div>
                    <a href="{{ site.baseurl }}/home/"><img src="{{ site.baseurl }}/img/Virac-cropped.png"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{{ site.baseurl }}/home/"><img src="{{ site.baseurl }}/img/KS Logo red-gold.png"></a>
                </div>
            </li>
        </ul>

            <ul class="nav nav-menu">
                    <a href="{{ site.baseurl }}/skausmas/">
                        <div>Skausmas</div>
                    </a>
                    <a href="{{ site.baseurl }}/gydymas/">
                        <div>Gydymas</div>
                    </a>
                    <a href="{{ site.baseurl }}/pagalba/">
                        <div>Pagalba</div>
                    </a>
                    <a href="{{ site.baseurl }}/svarbu/">
                        <div>Svarbu</div>
                    </a>
                    <!--
                    <a href="">
                        <div>Atviri Laiškai</div>
                    </a>-->
                    <a href="{{ site.baseurl }}/renginiai/">
                        <div>Renginiai</div>
                    </a>
                    <a href="{{ site.baseurl }}/apiemus/">
                        <div>Apie mus</div>
                    </a>
            </ul>
    </nav>
</header>

<header id="header-fixed">
    <nav class="navbar-menu">
        <ul class="nav nav-logos">
            <li>
                <div>
                    <a href="{{ site.baseurl }}/home/"><img src="{{ site.baseurl }}/img/Virac-cropped.png"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{{ site.baseurl }}/home/"><img src="{{ site.baseurl }}/img/KS Logo red-gold.png"></a>
                </div>
            </li>
        </ul>

            <ul class="nav nav-menu">
                    <a href="{{ site.baseurl }}/skausmas/">
                        <div>Skausmas</div>
                    </a>
                    <a href="{{ site.baseurl }}/gydymas/">
                        <div>Gydymas</div>
                    </a>
                    <a href="{{ site.baseurl }}/pagalba/">
                        <div>Pagalba</div>
                    </a>
                    <a href="{{ site.baseurl }}/svarbu/">
                        <div>Svarbu</div>
                    </a>
                    <!--
                    <a href="">
                        <div>Atviri Laiškai</div>
                    </a>-->
                    <a href="{{ site.baseurl }}/renginiai/">
                        <div>Renginiai</div>
                    </a>
                    <a href="{{ site.baseurl }}/apiemus/">
                        <div>Apie mus</div>
                    </a>
            </ul>
    </nav>
</header>
