<header id="header">
    <!--  <nav class="navbar banner">
        <div class="navbar-left">
           
            <div><a href="{{ site.baseurl }}"><div id="kai-skauda-header"><div class='white-plus-large'></div><div>KAI SKAUDA</div></div></a></div>
        </div>
    </nav>-->
    <nav class="navbar-menu">
        <ul class="nav nav-logos">
            <li>
                <div>
                    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}img/Virac-cropped.png"></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}img/KS Logo red-gold.png"></a>
                </div>
            </li>
        </ul>

            <ul class="nav nav-menu">
                    <a href="{{ site.baseurl }}kasyraskausmas/">
                        <div>Kas yra Skausmas</div>
                    </a>
                    <a href="{{ site.baseurl }}skausmogydymas/">
                        <div>Skausmo Gydymas</div>
                    </a>
                    <a href="{{ site.baseurl }}gydymoistaigos/">
                        <div>Kur Kreiptis Pagalbos?</div>
                    </a>
                    <a href="{{ site.baseurl }}butinazinoti/">
                        <div>Būtina Žinoti</div>
                    </a>
                    <a href="">
                        <div>Atviri Laiškai</div>
                    </a>
                    <a href="{{ site.baseurl }}renginiai/">
                        <div>Renginiai</div>
                    </a>
                    <a href="">
                        <div>Apie Mus</div>
                    </a>
            </ul>
    </nav>
</header>
