<header id="header">
    <nav class="navbar banner">
        <div class="navbar-left">
            <a id="logo-wrapper" href="{{ site.baseurl }}"><img id="logo-header" src="{{ site.baseurl }}/img/VIRAC_FINAL-3.png"></a>
        </div>
        <!--<div class="navbar-right">
            <ul class="nav navbar-header">
                <li><a href="">RENGINIAI</a></li>
                <li><a href="">APIE MUS</a></li>
            </ul>
        </div> -->
    </nav>
    <nav class="navbar-menu">
        <ul class="nav nav-menu">
            <li><a href="{{ site.baseurl }}kasyraskausmas/"><div>KAS YRA SKAUSMAS</div></a></li>
            <li><a href="{{ site.baseurl }}mitaiapieskausma/"><div>MITAI APIE SKAUSMĄ</div></a></li>
            <li><a href=""><div>KUR KREIPTIS PAGALBOS?</div></a></li>
            <li><a href=""><div>BŪTINA ŽINOTI</div></a></li>
            <li><a href=""><div>ATVIRI LAIŠKAI</div></a></li>
            <li><a href=""><div>RENGINIAI</div></a></li>
            <li><a href=""><div>APIE MUS</div></a></li>
        </ul>
    </nav>
</header>
