<div id="fixed-nav" class="fixed-nav fixed-nav-absolute">
    <ul id="n-l">
        <li class='fixed-nav-master nav-1'><a href="#Vilnius">Vilnius</a></li>
       	<li><a href="#Kaunas">Kaunas</a></li>
       	<li><a href="#Klaipeda">Klaipėda</a></li>
       	<li><a href="#Siauliai">Šiauliai</a></li>
       	<li><a href="#Panevezys">Panevėžys</a></li>
       	<li><a href="#Utena">Utena</a></li>
       	<li><a href="#Alytus">Alytus</a></li>
       	<li><a href="#Anyksciai">Anykščiai</a></li>
    </ul>
</div>