<div id="fixed-nav" class="fixed-nav fixed-nav-absolute">
    <ul id="n-l">
        <li class='fixed-nav-master nav-1' onclick="navExtend('nav-1',this)"><a>Medikamentinis Gydymas</a></li>
        <ul id="nav-1">
            <li id='medikamentinis-loc-nav'><a href="#medikamentinis-gydymas">Pagrindinė informacija</a></li>
            <li id='medikamentinis-neopioidiniai-nav'><a href="#medikamentinis-neopioidiniai">Neopioidiniai skausmą malšinantys vaistai</a></li>
            <li id='medikamentinis-opioidiniai-nav'><a href="#medikamentinis-opioidiniai">Opioidiniai analgetikai</a></li>
            <li id='medikamentinis-adjuvantiniai-nav'><a href="#medikamentinis-adjuvantiniai">Adjuvantiniai medikamentai</a></li>
            <li id='medikamentinis-analgezija-nav'><a href="#medikamentinis-analgezija">Intraveninė medikamentinė analgezija</a></li>
        </ul>
        <li onclick="navExtend('nav-2',this)"><a>Nemedikamentiniai Gydymo Būdai</a></li>
        <ul id="nav-2">
            <li id='nemedikamentiniai-chemoterapija-ir-radioterapija-nav'><a href='#nemedikamentiniai-chemoterapija-ir-radioterapija'>Chemoterapija ir radioterapija</a></li>
            <li id='nemedikamentiniai-chirurgines-nav'><a href='#nemedikamentiniai-chirurgines'>Chirurginės intervencijos</a></li>
            <li id='nemedikamentiniai-elektroneurostilmuliacija-nav'><a href='#nemedikamentiniai-elektroneurostilmuliacija'>Transkutaninė elektroneurostilmuliacija</a></li>
            <li id='nemedikamentiniai-intervenciniai-nav'><a href='#nemedikamentiniai-intervenciniai'>Intervenciniai skausmo malšinimo būdai</a></li>
        </ul>
        <li onclick="navExtend('nav-3',this)"><a>Epidūrinis/Spinalinis Nuskausminimas</a></li>
        <ul id="nav-3">
            <li id='epidurinis-aprasymas-loc-nav'><a href='#epidurinis-aprasymas'>Pagrindinė informacija</a></li>
            <li id='epidurinis-epidurine-analgezija-nav'><a href='#epidurinis-epidurine-analgezija'>Epidūrinė analgezija</a></li>
            <li id='epidurinis-spinalinė-analgezija-nav'><a href='#epidurinis-spinalinė-analgezija'>Spinalinė analgezija</a></li>
            <li id='epidurinis-problemos-nav'><a href='#epidurinis-problemos'>Galimos komplikacijos</a></li>
        </ul>
        <li onclick="navExtend('nav-4',this)"><a href='#blokados'>Nervų blokados ir destrukcinės procedūros</a></li>
        <ul id="nav-4">
            <li id='blokados-loc-nav'>
                <a href='#blokados'></a>
            </li>
        </ul>
        <li onclick="navExtend('nav-5',this)"><a>Drąsiai Griauk Mitus</a></li>
        <ul id="nav-5">
            <li id='mitai-tolerancija-nav'><a href='#mitai-tolerancija'>Tolerancija</a></li>
            <li id='mitai-pseudotolerancija-nav'><a href='#mitai-pseudotolerancija'>Pseudotolerancija</a></li>
            <li id='mitai-fizine-nav'><a href='#mitai-fizine'>Fizinė priklausomybė</a></li>
        </ul>
    </ul>
</div>
